---
layout: default
category: archive
---

<section id="archive">
<h2>Posts written in {{ page.month | to_month }}, <a title="View all posts made in {{ page.year }}" href="/{{ page.year }}">{{ page.year }}</a></h2>

<ul>{% for d in (1..31) %}{% if site.collated_posts[page.year][page.month][d] %}{% for p in site.collated_posts[page.year][page.month][d] %}
        <li>
			<h3><a href='{{ p.url }}'>{{ p.title }}</a> <time datetime="{{ p.date | date: "%Y-%m-%d"  }}" class="date">{{ p.date | date_to_long_string }}</time></h3>
		</li>{% endfor %}{% endif %}{% endfor %}
</ul>
</section>

